:root {
  --primary-color: #1e72bd;
  --primary_darker-color: #155996;
  --secondary-color: #FFBB00;
  --light-color: #fff;
  --dark-color: #2f4468;
  --gray-color:#e4e4e4;
  --black-color:#242424;
}
.gnws-text-primary{
  color: var(--primary-color);
  &:hover{
    background-color: #35343a;
  }
}

.black-color{
  color:var(--black-color) ;
}
.dark-color{
  color: var(--dark-color);
}
.gnws-hover-primary{
  &:hover{
    color: var(--primary-color);
  }

}
.gnws-bg-primary{
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.gnws-bg-hover-primary{
  &:hover{
    background-color: var(--primary_darker-color);

  }
}
.gnws-bg-primary_darker{
  background-color: var(--primary_darker-color);
}
.gnws-bg-hover-secondary{
  &:hover{
    background-color: var(--secondary-color);
  }
}

